/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



/*NavBar*/
/*Background*/
:root body {
  background-color: #FFFAF4;
}

.navbar_bg {
	background-color: #ECF8F9;
}

.navLink {
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
  overflow: hidden;
}

@media (max-width: 576px) {
  .navLink:hover {
    transform: scale(1.2); 
  }
}

@media (min-width: 913px) {
  .navLink:hover {
    transform: scale(1.2);
  }
}

.navLink::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(0, 55, 145, 0.3);
  border-radius: 50%;
  transition: width 0.3s ease-out, height 0.3s ease-out;
  opacity: 0;
  pointer-events: none;
}

.navLink:hover::before {
  width: 100%;
  height: 600%;
  opacity: 1;
}

.navLink span {
  display: inline-block;
  transition: opacity 0.3s ease-out;
}

.navLink:hover span {
  opacity: 0;
}

/*Navbar brand name*/
.navbar .navBarBrand {
	font-weight: 900;
	font-size: 1.6rem;
	text-align: center;
	display: block;
	font-family: 'Press Start 2P', cursive;

	color: #1B9C85;
}


.image_rotate {
    animation: rotation 12s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.brandSlogan {
	font-size: 20px;
	font-weight: 100;
	color: #003791;
	font-family: 'Teko', sans-serif;

}

.brandSlogan2 {
	font-family: 'Anton', sans-serif;
	font-size: 1.7rem;
}

/*Navbar - logged in as*/
.loggedInAs {
  font-family: 'VT323', monospace !important;
}

.status-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background-color: #23e000;
}

.offline {
  background-color: #9BA4B5;
}



/*Carousel - Home*/
.carousel-container {
  overflow: hidden; /* Hide overflowing content */
  margin-bottom: 20px;
  height: 430px;
}

.carousel-image {
  object-fit: contain; 
  max-width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  .carousel-container {
    height: 300px; 
  }
}

@media (max-width: 768px) {
  .carousel-container {
    height: 300px; 
  }
}

.carousel-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.carousel-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.carousel-overlay h5 {
  margin: 0;
}

.carousel-overlay-inner {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: white;
  max-width: 60%;

}

.productRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/*Products*/
.productHeader {
  font-family: 'Anton', sans-serif;
  font-size: 3.3rem;
  margin: 2% 0% 2% 0%;
}

.productCard {
  width: 100%;
  min-height: 300px; /* Set the minimum height for consistent card height */
  display: inline-block;
  vertical-align: top;
}

.productRow {
  text-align: justify;
  width: 100%;

}

.productCard > * {
  width: 100%;
}




/*Register*/
#register {
  background: #FFF2E4;
}

#registerBackground {
  background: linear-gradient(
    rgba(0, 0, 0, 0.49),
    rgba(0, 0, 0, 0.49)

  ),
  url("../../public/images/playstationRegister.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% center;

}

.registerHeader {
  font-family: 'Anton', sans-serif;
  font-size: 3.3rem;
  margin: 2% 0% 2% 0%;
}

.registerFont {
  font-family: 'Montserrat', sans-serif;
}

/*Login*/
#login {
  background: #FFF2E4;
}

#loginBackground {
  background: linear-gradient(
    rgba(0, 0, 0, 0.49),
    rgba(0, 0, 0, 0.49)

  ),
  url("../../public/images/playstationLogin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% center;

}

.loginHeader {
  font-family: 'Anton', sans-serif;
  font-size: 3.3rem;
  margin: 2% 0% 2% 0%;
}

.loginFont {
  font-family: 'Montserrat', sans-serif;
}





/*Admin Dashboard*/
.dashboardHeader {
  font-family: 'Anton', sans-serif;
  font-size: 3.3rem;
  margin: 2% 0% 2% 0%;
}

.tableCell1 {
	width: 100px;
}

/*Admin Dashboard - Modal*/

@media (max-width: 576px) {
  .modal-dashboard {
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content-dashboard {
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}

body.modal-open {
  overflow: hidden;
}